<html>
    <head>
        <title>hekır burcu</title>
    </head>
    <body>
        <div>
            <h1><a href="">hekır burcu</a></h1>
        </div>

        <div>
            <p>published: 04.11.2017, 15:45</p>
            <h2><a href="">hekırlık anılarım</a></h2>
            <p>Bu benim ilk hekırlığım. Ne kadar zevkli bir işmiş hekırlık. </p>
        </div>

        <div>
            <p>published: 04.11.2017, 15:44</p>
            <h2><a href="">İkinci gönderim</a></h2>
            <p>Bir varmış bir yokmuş, evvel zaman içinde Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. Artık bilgisayar başından kalkmam. kalbur saman içinde, develer tellal iken, pireler berber iken; ben annemin beşiğini tıngır mıngır sallar iken.</p>
        </div>
    </body>
</html>
